body {
    height: 100%;
    margin: 0;
    background: black no-repeat fixed;
}
#upper{
    width:100%;
    min-width:1440px;
}
#right, #left {
    margin-top: 2%;
    display: inline-block;
}

#left{

    width: 30%;
    color:white;
    font-family: Tahoma;
    margin-left: 10%;
    vertical-align: top;
    margin-top: 7%;
}

#right {
    margin-left:10%;
    width: 39%;
    min-width: 700px;
    font-family: Tahoma;
    font-size: 18px;
    color: white;
}

#title{
    font-size: 50px;
}
#statement{
    margin-left: -10%;
}
#Author{
    margin-left: -10%;
}
img{
    vertical-align: middle;
    width:25px;
    height:25px;
}
img,p{
    display:inline-block;
}
#legend{
    min-width: 200px;
}
#lower{
    margin-left: 2%;
    margin-top:5%;
    min-width:1440px;
}

#lower, #Legend, #Dijkstras, #list{
    vertical-align: middle;
    display: inline-block;
}

.legend{
    margin-left:5%;
    margin-right:5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.legend,.bullet{
    vertical-align: middle;
    display:inline-block;
}

.bullet{
    color:white;
    font-family: Tahoma;
    font-size: 15px;
}
#Dijkstras{
    min-width: 500px;
}

#myCanvas{
    background: #ac72d2;
}

#list{
    color: white;
    font-family: Tahoma;
    margin-top:20px;
    margin-left:30px;
    height:400px;
    width:250px;
    padding:10px;
    background-color: #8d9ccf;
    box-shadow: 5px 5px 5px grey;
}